<nav class="header">
  <div class="header__content">
    <a class="header__logo" href="/">
      <img class="hidden--medium-and-down" src="/dist/img/underdogio-logo-with-text.svg" alt="Underdog.io logo" width="173" height="50">
      <img class="hidden--large-and-up" src="/dist/img/underdogio-logo.svg" alt="Underdog.io logo" width="48" height="50">
    </a>
    <div class="header__nav">
      <ul class="nav-list">
        <li class="nav-list__item">
          <span class="nav-list__link media-query" data-width="530" role="button">
            Small (530)
          </span>
        </li>
        <li class="nav-list__item">
          <span class="nav-list__link media-query" data-width="768" role="button">
            Medium (768)
          </span>
        </li>
        <li class="nav-list__item">
          <span class="nav-list__link media-query" data-width="1024" role="button">
            Large (1024)
          </span>
        </li>
        <li class="nav-list__item">
          <span class="nav-list__link media-query" data-width="1440" role="button">
            Extra Large (1440)
          </span>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__btn btn btn--secondary" href="https://underdog.io">
            Underdog.io
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
