<nav class="navigation">
  <a class="navigation__left img-link" href="/">
    <img class="hidden--large-and-down" src="/images/underdogio-logo-with-text.svg" alt="Underdog.io logo" width="173" height="50">
  </a>
  <div class="navigation__right">
    <div class="hidden--large-and-down">
      <span class="navigation__link media-query" data-width="530" role="button">
        Small (530)
      </span>
      <span class="navigation__link media-query" data-width="768" role="button">
        Medium (768)
      </span>
      <span class="navigation__link media-query" data-width="1024" role="button">
        Large (1024)
      </span>
      <span class="navigation__link media-query" data-width="1440" role="button">
        Extra Large (1440)
      </span>
      <a class="nav-list__btn btn btn--secondary btn--small" href="https://underdog.io">
        Underdog.io
      </a>
    </div>
    <span class="navigation__menu-toggle icon icon-menu js-class-toggle hidden--large-and-up"
      role="button" tabindex="0" data-target="#menuDrawer"
      data-class="menu-drawer--active"><span class="icon__label icon__label--right">Menu</span></span>
  </div>
</nav>
<nav id="menuDrawer" class="menu-drawer hidden--large-and-up">
  <div class="menu-drawer__overlay js-class-toggle" role="button" data-target="#menuDrawer" data-class="menu-drawer--active"></div>
  <div class="menu-drawer__container padding-2">
    <div class="clearfix margin-2--bottom">
      <h3 class="float--left margin-none--bottom">Menu</h3>
      <span class="js-class-toggle float--right icon icon-close" role="button" tabindex="0" data-target="#menuDrawer" data-class="menu-drawer--active">
        <span class="screen-reader">
          Close
        </span>
      </span>
    </div>
    <ul class="menu-list">
      <li class="menu-list__item">
        <span class="navigation__link media-query" data-width="530" role="button">
          Small (530)
        </span>
      </li>
      <li class="menu-list__item">
        <span class="navigation__link media-query" data-width="768" role="button">
          Medium (768)
        </span>
      </li>
      <li class="menu-list__item">
        <span class="navigation__link media-query" data-width="1024" role="button">
          Large (1024)
        </span>
      </li>
      <li class="menu-list__item">
        <span class="navigation__link media-query" data-width="1440" role="button">
          Extra Large (1440)
        </span>
      </li>
      <li class="menu-list__item">
        <a class="nav-list__btn btn btn--secondary btn--block" href="https://underdog.io">
          Underdog.io
        </a>
      </li>
    </ul>
  </div>
</nav>
