{{#each categories}}
<p class="small-heading">{{ title }}</p>
<ul>
  {{#each sections }}
    <li>
      <a class="nav-link{{#if isActive}} nav-link--active{{/if}}" href="/{{ slug }}">{{ title }}</a>
    </li>
  {{/each}}
</ul>
{{/each}}
