{{#each categories}}
<p class="small-heading">{{ title }}</p>
<ul class="push30--bottom">
  {{#each sections }}
    <li class="push10--bottom">
      <a class="nav-link{{#if isActive}} nav-link--active{{/if}}" href="/{{ slug }}">{{ title }}</a>
    </li>
  {{/each}}
</ul>
{{/each}}
