{{#each categories}}
<p class="h4 margin2--bottom">{{ title }}</h4>
<ul class="menu-list margin3--bottom">
  {{#each sections }}
    <li class="menu-list__item">
      <a class="nav-link{{#if isActive}} nav-link--active{{/if}}" href="/{{ slug }}">{{ title }}</a>
    </li>
  {{/each}}
</ul>
{{/each}}
