.border {
  border: $border-width-thick solid $color-border-light;
}

@each $side in $sides {
  .border--#{$side} {
    border-#{$side}: $border-width-thick solid $color-border-light;
  }
}

.border--thin {
  border-width: $border-width-thin;
}

.border--dark {
  border-color: $color-border-dark;
}
