.color--text-light {
  color: $color-text-light;
}

.color--text-extra-light {
  color: $color-text-extra-light;
}

.color--blue {
  color: $color-blue;
}

.color--green {
  color: $color-green;
}

.color--dark-green {
  color: $color-dark-green;
}

.color--orange {
  color: $color-orange;
}

.color--purple {
  color: $color-purple;
}

.color--red {
  color: $color-red;
}
