.color--text-normal {
  color: $color-text;
}

.color--text-light {
  color: $color-text-light;
}

.color--text-extra-light {
  color: $color-text-extra-light;
}

.color--blue {
  color: $color-blue;
}

.color--gold {
  color: $color-gold;
}

.color--gray-777 {
  color: $color-gray-777;
}

.color--green {
  color: $color-green;
}

.color--dark-green {
  color: $color-dark-green;
}

.color--orange {
  color: $color-orange;
}

.color--purple {
  color: $color-purple;
}

.color--light-purple {
  color: $color-light-purple;
}

.color--red {
  color: $color-red;
}

.color--light-red {
  color: $color-light-red;
}

.color--white {
  color: $color-white;
}
