@each $unit, $value in $spacing {
  .margin#{$unit} {
    margin: spacing($unit) !important;
  }

  @each $side in $sides {
    .margin#{$unit}--#{$side} {
      margin-#{$side}: spacing($unit) !important;
    }
  }

  .margin--ends {
    margin-bottom: spacing($unit) !important;
    margin-top: spacing($unit) !important;
  }

  .margin--sides {
    margin-left: spacing($unit) !important;
    margin-right: spacing($unit) !important;
  }
}
