@font-face {
  font-family: 'underdogio-icons';
  src: url('#{$icon-font-path}/underdogio-icons.eot'),
  url('#{$icon-font-path}/underdogio-icons.eot?#iefix') format('embedded-opentype'),
  url('#{$icon-font-path}/underdogio-icons.woff') format('woff'),
  url('#{$icon-font-path}/underdogio-icons.ttf') format('truetype'),
  url('#{$icon-font-path}/underdogio-icons.svg#underdogio-icons') format('svg');
}
