<div class="aside-layout">
  <div class="aside-layout__sidebar border--right wrapper">
    {{> toc sections=sections}}
  </div>
  <div class="aside-layout__content wrapper center-content">
    <div class="row">
      <div class="text--center">
        <h1>Oops, lost page!</h1>
        <img class="push45--bottom push30--top" alt=" " src="/dist/img/lost.svg" />
        <p>
          Sorry, we can't find what you're looking for.<br />
          <a href="/">Go home</a>.
        </p>
      </div>
    </div>
  </div>
</div>
