<div class="aside-layout container container--wide">
  <div class="aside-layout__sidebar border--right">
    {{> toc sections=sections}}
  </div>
  <div class="aside-layout__content center-content">
    <div class="row">
      <div class="text-align--center">
        <h1>Oops, lost page!</h1>
        <img class="margin1--bottom marign-1--top" alt="Lost illustration" src="/dist/img/lost.svg" />
        <p>
          Sorry, we can't find what you're looking for.<br />
          <a href="/">Go home</a>.
        </p>
      </div>
    </div>
  </div>
</div>
