<div class="aside-layout container container--wide">
  <div class="aside-layout__sidebar border--right">
    {{> toc sections=sections}}
  </div>
  <div class="aside-layout__content{{#unless currentSection}} center-content{{/unless}}">
    <div>
      {{#if currentSection}}
        <header class="page-header page-header--border margin0--top">
          <h1 class="page-header__title">{{ currentSection.title }}</h1>
          {{#if currentSection.subtitle }}
            <p class="page-header__subtitle">
              {{ currentSection.subtitle }}
            </p>
          {{/if}}
        </header>
        {{{ currentSection.content }}}
      {{else}}
        <section class="hero">
          <div class="hero__section">
            <img src="/images/underdogio-logo.svg" alt="Underdog.io logo" height="100" />
          </div>
          <div class="hero__section">
            <h1 class="hero__title">Pup</h1>
          </div>
          <div class="hero__section">
            <p class="hero__subtitle">
              The design system for <a href="https://underdog.io">Underdog.io</a>.
            </p>
            <p>
              <a class="btn btn--secondary btn--large" href="https://github.com/underdogio/pup" target="_blank">
                <span class="icon icon-github icon--right" aria-hidden="true">
                  <span class="icon__label">View on GitHub</span>
                </span>
              </a>
            </p>
          </div>
        </section>
      {{/if}}
    </div>
  </div>
</div>
