<div class="aside-layout container container--wide">
  <div class="aside-layout__sidebar border--right wrapper">
    {{> toc sections=sections}}
  </div>
  <div class="aside-layout__content wrapper{{#unless currentSection}} center-content{{/unless}}">
    <div>
      {{#if currentSection}}
        <h1>{{ currentSection.title }}</h1>
        {{{ currentSection.content }}}
      {{else}}
        <div class="text-align--center">
          <img src="/images/underdogio-logo.svg" alt="Underdog.io logo" height="100" />
          <h1 class="margin-1--top margin-1--bottom">Pup</h1>
          <p class="color--text-light h2 margin-1--bottom">
            The design system for <a href="https://underdog.io">Underdog.io</a>.
          </p>
          <a class="btn btn--secondary btn--large" href="https://github.com/underdogio/pup" target="_blank">
            <span class="icon icon-github icon--right" aria-hidden="true">
              <span class="icon__label">View on GitHub</span>
            </span>
          </a>
        </div>
      {{/if}}
    </div>
  </div>
</div>
