$breakpoint-small-end: 530px;
$breakpoint-medium-start: $breakpoint-small-end + 1px;
$breakpoint-medium-end: 768px;
$breakpoint-large-start: $breakpoint-medium-end + 1px;
$breakpoint-large-end: 1024px;
$breakpoint-extra-large-start: $breakpoint-large-end + 1px;
