// Grayscale
$color-white: #FFFFFF;
$color-black: #000000;
$color-whitish-black: #0B1D2B;

$color-gray-xdc: #DCDCDC;
$color-gray-xf3: #F3F3F3;
$color-gray-xf2: #F2F2F2;
$color-gray-xfa: #FAFAFA;
$color-gray-777: #777777;
$color-gray-444: #444444;
$color-gray-222: #222222;

// Accents
$color-blue: #3497FF;
$color-light-blue: #F5FAFF;
$color-green: #72CEAA;
$color-dark-green: darken($color-green, 10%);
$color-light-green: #ECF6F2; // Playtime
$color-orange: #E9A631; // Sunshine
$color-purple: #59518B;
$color-light-purple: #908E9E;
$color-red: #E3152E;
$color-light-red: #DD6B4E;

// Third party branding colors
$color-dribbble-pink: #EB4C89;
$color-google-blue: #4285F4;
$color-google-red: #DC4E41;
$color-linkedin-blue: #2476B9;

// Transparent colors
$color-semi-transparent-black: rgba($color-black, 0.15);
$color-semi-transparent-blue: rgba($color-blue, 0.05);

// UI colors
$color-bg: $color-white;
$color-text-light: $color-gray-777;
$color-text: $color-gray-444;
$color-text-dark: $color-gray-222;
$color-headings: $color-text-dark;

$color-border-light: $color-gray-xf3;
$color-border-dark: $color-gray-xdc;
