// Neutral colors
$color-white: #fff;
$color-black: #000;

$color-gray-xdc: #dcdcdc;
$color-gray-xf3: #F3F3F3;
$color-gray-xf2: #F2F2F2;
$color-gray-777: #777777;
$color-gray-444: #444444;
$color-gray-222: #222222;

// Accents
$color-blue: #3497FF;
$color-light-blue: #F5FAFF;
$color-green: #72CEAA;
$color-dark-green: darken($color-green, 15%);
$color-light-green: #ECF6F2; // Playtime
$color-orange: #E9A631; // Sunshine
$color-purple: #59518b;
$color-light-purple: #908E9E;
$color-red: #E3152E;
$color-light-red: #DD6B4E;

// Third party branding colors
$color-dribbble-pink: #EB4C89;
$color-google-red: #DC4E41;
$color-linkedin-blue: #2476B9;

// UI colors
$color-bg: $color-white;
$color-text-light: $color-gray-777;
$color-text: $color-gray-444;
$color-text-dark: $color-gray-222;
$color-headings: $color-text-dark;

$color-border-light: $color-gray-xdc;
