$font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;

$font-scale: 1.25;

$font-size-base: 0.875em;
$font-size: (
  -2: 0.75rem,
  -1: 0.75rem,
  0: 1rem,
  1: pow($font-scale, 1) + rem,
  2: pow($font-scale, 2) + rem,
  3: pow($font-scale, 3) + rem
);
@function font-size($key) {
  @return map-get($font-size, $key);
}

$font-weight: (
  light: 300,
  normal: 400,
  bold: 700
);
@function font-weight($key) {
  @return map-get($font-weight, $key);
}

$line-height: (
  base: 1.5,
  headings: 1.25
);
@function line-height($key) {
  @return map-get($line-height, $key);
}

$measure: 40rem;
