.alert {
  align-items: center;
  display: flex;
  font-weight: font-weight(bold);
  justify-content: space-between;
  padding: spacing(0.5) spacing(1);
}

.alert--success {
  background: $color-dark-green;
  color: $color-white;
}

.alert--info {
  background: $color-light-blue;
  color: $color-text-dark;
}

.alert--error {
  background: $color-red;
  color: $color-white;
}

.alert__close {
  @include transition(opacity);
  color: inherit;
  font-size: 0.875rem;
  padding: 0;

  &:hover {
    opacity: 0.5;
  }
}
