.badge {
  background: $color-light-blue;
  border-radius: $border-radius;
  color: $color-blue;
  display: inline-block;
  font-size: font-size(-1);
  font-weight: font-weight(bold);
  padding: spacing(quarter) spacing(half);
}

.badge--light-red {
  background: $color-light-red;
  color: $color-white;
}
