@mixin btn($background-color, $border-color, $color) {
  background: $background-color;
  border-color: $border-color;
  color: $color;

  &:focus,
  &:hover {
    background: darken($background-color, 5%);
    border-color: darken($border-color, 5%);
    color: $color;
  }

  &:focus {
    outline: 0;
  }
}

.btn {
  @include transition(background, border, color);
  border: 1px solid;
  border-radius: $border-radius;
  cursor: pointer;
  display: inline-block;
  font-size: font-size(-1);
  padding: 0.75em 2em;
}

.btn--primary {
  @include all-caps;
  @include btn($color-dark-green, $color-dark-green, $color-white);
}

.btn--secondary {
  @include all-caps;
  @include btn($color-white, $color-border-light, inherit);
}

.btn--block {
  display: block;
  text-align: center;
  width: 100%;
}

.btn--large {
  font-size: font-size(0);
  padding-left: 3em;
  padding-right: 3em;
}

.btn--small {
  font-size: font-size(-2);
}
