@mixin btn($background-color, $border-color, $color) {
  background: $background-color;
  border-color: $border-color;
  color: $color;

  &:focus,
  &:hover {
    background: darken($background-color, 5%);
    border-color: darken($border-color, 5%);
    color: $color;
  }

  &:focus {
    outline: 0;
  }

  &.btn--disabled {
    &,
    &:hover {
      background: desaturate($background-color, 100%);
      border-color: desaturate($border-color, 100%);
      color: desaturate($color, 100%);
    }
  }
}

.btn {
  @include transition(background, border, color);
  border: $border-width-thin solid;
  border-radius: $border-radius;
  cursor: pointer;
  display: inline-block;
  font-size: font-size(-1);
  font-weight: font-weight(bold);
  padding: 0.75em 1.25em;
  padding-bottom: calc(0.75em - 1px);
  text-decoration: none;

  .icon {
    line-height: 1;

    &:before,
    &:after {
      line-height: inherit;
    }
  }
}

.btn--primary {
  @include btn($color-green, $color-green, $color-white);
}

.btn--secondary {
  @include btn($color-white, $color-border-dark, $color-text);
}

.btn--danger {
  @include btn($color-red, $color-red, $color-white);
}

.btn--transparent {
  @include btn(rgba(0, 0, 0, 0), $color-white, $color-white);
}

.btn--google {
  @include btn($color-google-blue, $color-google-blue, $color-white);
  padding-left: 4em;
  position: relative;

  &:before {
    $icon-border-radis: $border-radius / 2;
    background-color: $color-white;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAMAAAC5zwKfAAAB/lBMVEUAAAD///////////////////////////80qFM1p1k2qVQ2qVU5qlc6mZY6q1g9kbs9pHY9qVA+rFw/qGw/rVxAi9hBrV5ChfRChvBDhfREhvRFr2FHiPRIsWRLi/VMsmdRj/VSq0dUkPVXk/VXt3FZuHJclvZel/Zhu3limvZpnvZswIJxwoZ0pfd0rjp4xY15xo58x5CAyJOCrviCsuqDypaJzZuQ0KGU0aSU0aWW0qaY06iZvfma06Sb1Kugsyigwvmm2bOn2bSox/qz3r61tSG91PvB5MrD5czE5s3F5s7H2/zH3PvJ6NHK6NLO6tbY5v3ZuRLh8uXi8ubqQzXqRDbqRTfqRznqRzrq8v7q9u3rSDPrTDzrTD/rTUDrT0LrUEPsVUjsVUnsWU3tVi7tYFTuZFnwaiXwuwnw+fLxfnTxgnfxgnjxg3rxhXzyiH/yjYTyjYXzhRvzkYnzkor0mZH0mnz0m5P0npb1kRb1o5z2rKb2r6n3s633ubT4qA34wLz5x8P5yMT5ycX5+//5/Pr5/fr6tgf608/7vAX7vQr7wh372db72df7/fz8xy784uD84+H85OL8/vz912r92nX934f97Or98fD9/v7+56X+8Mf+89H+8/L+9Nb+9Nf++Pj++vn+//7+////+/v//Pz//f3//vv//vz///8OXBpUAAAACHRSTlMADoKDu8jb3PqA2iUAAAHcSURBVHgB7dhXcxJRFMBxgQWvir2svfdeFLsi9o66Yu9FsXdRUkjPpveQhJSElJxvmexl78wu8MK594HJ3P/befnNMOzOnjnT8jaZw6W4uVJcDps3HbjzWEUXCMhpARURoGIB3SJAtwQlKEEJ5hk43FQS/fktUlA9KgTs/PtMM3v+pY4bbPl6T7P2oZkPLHuqpfUkxgNGQ1pGd+vx4G8ti1cIaLBUY91/+/nTmxDzsGD8hcm9Khox5oHYS+qhwY+mFxkEs97v1EOCiX+PqPdf1JvSrhe/nvR+gSBwvFbXq95pj+OiwB7d6McfEAV267R+Nm+xdSB3sIN6NWNsVm1tzh1so2AjZAdXiwaXJQX/5LXoP6UvO7gN+9icPsnmoNl2Cu7CPdjvd5MFYbD1YDkF/ahX79Y6QogPbPlVWhABJs7PJ0anwNLVldRbn0SAsIekOlYJrGspTz0LGDC8yhTXnGsFo5s7Fy6m3oZyFAiXCcu7ce++rSsIITPmGuAF7EfqMMls9lL1BP4zGpiVKc47mMSDcGVRujfzeBfXKnJnv9fmbbrBvSw9PLKEaXN2XBwSsc413L4U8B06euZ6xdTeYCUoQQlKUPy5T/xB0uEReTKlopP3qOukXl4mmwCTzwLBp5ZKJwAAAABJRU5ErkJggg==');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: $icon-border-radis 0 0 $icon-border-radis;
    content: '';
    display: block;
    height: calc(100% - 4px);
    left: 2px;
    position: absolute;
    top: 2px;
    width: 2.75em;
  }
}

.btn--block {
  display: block;
  text-align: center;
  width: 100%;

  & + & {
    margin-top: spacing(1);
  }
}

.btn--large {
  font-size: 1.1rem;
  padding-left: 3em;
  padding-right: 3em;
}

.btn--small {
  font-size: font-size(-2);
  padding-left: 1em;
  padding-right: 1em;
}

.btn--disabled {
  opacity: opacity(mid);
}

.btn-group {
  display: inline-block;
}

// Have buttons take up full width of .btn-group container
.btn-group__container {
  display: flex;
}

.btn-group__btn {
  align-items: stretch;
  display: flex;
  flex: 1 1 auto;

  .btn {
    align-items: center;
    border: $border-width-thin solid $color-border-dark;
    border-radius: 0;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    // Normalize line-height between <button /> and <a /> elements
    line-height: inherit;
    text-align: center;
  }

  .btn--primary {
    border: 1px solid transparent;
  }

  // Fake a transparent border with a margin
  &:first-child {
    .btn--primary {
      margin-right: 1px;
    }
  }

  &:first-child {
    .btn {
      border-bottom-left-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
  }

  &:last-child {
    .btn {
      border-left: 0;
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius
    }
  }
}

// Helper to prevent a button group from stretching
.btn-group__btn-small {
  flex: 0 0 auto;
}
