.case-study-block {
  @include media-query('medium-and-down') {
    padding: spacing(2);
  }

  @include media-query('large-and-up') {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: spacing(2) spacing(3);
  }

  background: $color-whitish-black;
  color: $color-white;
  position: relative;
}

.case-study-block__logo {
  filter: grayscale(100%);
  left: spacing(2);
  opacity: 0.5;
  position: absolute;
  top: spacing(2);
}

.case-study-block__stats {
  @include media-query('medium-and-down') {
    margin-bottom: spacing(2);
    margin-top: spacing(2);
  }

  @include media-query('large-and-up') {
    flex: 0 1 40%;
    padding: spacing(2);
  }
}

.case-study-block__stat {
  display: block;
  margin-bottom: spacing(1);

  &:last-child {
    margin-bottom: 0;
  }
}

.case-study-block__stat-number {
  display: block;
  font-size: font-size(2);
  font-weight: font-weight(bold);
}

.case-study-block__stat-label {
  @include all-caps;
  opacity: 0.75;
}

.case-study-block__quote {
  @include media-query('large-and-up') {
    flex: 1 1 60%;
  }

  font-size: font-size(2);
  margin-bottom: 0;
}
