.content-header {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.content-header__title,
.content-header__subtitle {
  margin-bottom: 0;
}

@media (max-width: 800px) {
  .content-header {
    flex-wrap: wrap;
  }

  .content-header__subtitle {
    margin-top: spacing(half);
  }
}
