.dot {
  background: $color-border-dark;
  border-color: $color-border-dark;
  border-radius: 100%;
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
}

.dot--light {
  background: $color-border-light;
  border-color: $color-border-light;
}

.dot--blue {
  background: $color-blue;
  border-color: $color-blue;
}
