$dropdown-triangle-size: 1rem;

.dropdown {
  display: inline-block;
  font-size: 1rem;
  font-weight: font-weight(normal);
  position: relative;
}

.dropdown--block {
  display: block;
  width: 100%;
}

.dropdown__menu {
  line-height: line-height(base);
  margin-top: $dropdown-triangle-size;
  position: absolute;
  right: 0;
  text-align: right;
  top: 50%;
  white-space: nowrap;
  width: 16rem;
  z-index: layer(dropdowns);

  // Fake a border-ed triangle by positioning a smaller triangle with a lighter
  // background on top of a triangle with a dark background
  &:before {
    @include triangle($color-border-dark, $dropdown-triangle-size);
    content: '';
    display: inline-block;

    // Magic numbers
    margin-bottom: -0.4em;
    margin-right: 1em;
    position: relative;
    z-index: 0;
  }

  &:after {
    @include triangle($color-white, 15px);
    content: '';
    display: inline-block;

    // Magic numbers
    position: absolute;
    right: 13px;
    top: 10px;
    z-index: 1;
  }
}

.dropdown__menu--auto-width {
  width: auto;
}

.dropdown__menu-container {
  background: $color-white;
  border: $border-width-thin solid $color-border-dark;
  border-radius: $border-radius;
  box-shadow: 0 2px 2px $color-gray-xdc;
  text-align: left;
}

.dropdown__menu-header,
.dropdown__menu-content {
  padding: spacing(half) spacing(1);
}

.dropdown__menu-header {
  @include clip-text;
  border-bottom: $border-width-thin solid $color-border-dark;
  display: block;
  font-weight: font-weight(bold);
}
