.footer {
  align-items: center;
  border-top: 1px solid $color-border-light;
  color: $color-text-light;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: spacing(1);
  margin-top: spacing(1);
}

.footer__link {
  @include transition(color);
  color: inherit;
  display: inline-block;
  margin: spacing(1);
  margin-left: 0;

  &:focus,
  &:hover {
    color: $color-text;
  }

  &:last-child {
    margin-right: 0;
  }
}
