.footer {
  align-items: center;
  border-top: 1px solid $color-border-light;
  color: $color-text-light;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: spacing(1);
  padding-bottom: spacing(1);
  padding-top: spacing(1);
}

.footer__link {
  @include transition(color);
  color: inherit;
  display: inline-block;
  margin-bottom: spacing(0.5);
  margin-right: spacing(1);
  text-decoration: none;

  &:focus,
  &:hover {
    color: $color-text;
  }

  &:last-child {
    margin-right: 0;
  }
}
