$header-spacing: spacing(3);

.header {
  margin-bottom: $header-spacing;
  margin-top: $header-spacing;
}

.header__title {
  margin-bottom: spacing(2);

  &:last-child {
    margin-bottom: 0;
  }
}

.header__subtitle {
  margin-bottom: 0;
}

.header--border {
  border-bottom: 1px solid $color-border-light;
  padding-bottom: spacing(2);
}
