.header {
  background: $color-bg;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $grid-gutter / 2;
  width: 100%;
}

.header__logo {
  display: block;
  height: 3rem;
}

.header__link {
  @include all-caps;
  color: inherit;
  font-size: font-size(-1);
  margin-right: spacing(2);
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  &:after {
    @include transition(opacity, transform);
    background: $color-gray-xdc;
    content: '';
    display: block;
    height: 0.1rem;
    left: 0;
    opacity: 0;
    position: absolute;
    top: calc(100% + 0.25em);
    transform: translateY(-0.25em);
    width: 100%;
  }

  &:focus,
  &:hover {
    &:after {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.header__link--active {
  &:after {
    opacity: 1;
    transform: translateY(0);
  }
}

.header__menu-toggle {
  @include all-caps;
  @include transition(color);

  &:hover {
    color: $color-dark-green;
  }
}

.header--fixed {
  left: 50%;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: layer(header);
}
