.header {
  background: $color-bg;
  width: 100%;
}

.header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $grid-gutter / 2;
}

.header__logo {
  display: block;
  height: 3.5rem;
}

.header__link {
  @include all-caps;
  @include transition(color);
  color: $color-text-light;
  font-weight: font-weight(bold);
  margin-right: 2.5rem;
  position: relative;
  text-decoration: none;

  &:last-child {
    margin-right: 0;
  }

  &:after {
    @include transition(opacity, transform);
    background: $color-gray-xdc;
    content: '';
    display: block;
    height: $border-width-thick;
    left: 0;
    opacity: 0;
    position: absolute;
    top: calc(100% + #{spacing(quarter)});
    transform: translateY(#{spacing(quarter) / -2});
    width: 100%;
  }

  &.header__link--active,
  &:focus,
  &:hover {
    color: $color-text;

    &:after {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.header__menu-toggle {
  @include all-caps;
  @include transition(color);

  &:hover {
    color: $color-dark-green;
  }
}

.header--fixed {
  left: 50%;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: layer(header);
}
