.hero {
  @include transition(min-height);
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  justify-content: center;
  text-align: center;
}

.hero__container {
  margin-left: auto;
  margin-right: auto;
  max-width: $measure;
  padding-bottom: spacing(2);
  padding-top: spacing(2);
}

.hero__section {
  margin: 0 auto spacing(1) auto;
  max-width: $measure * 0.75;

  &:last-child {
    margin-bottom: 0;
  }
}

.hero__title,
.hero__subtitle {
  &:last-child {
    margin-bottom: 0;
  }
}

.hero__title {
  font-size: font-size(4);
  font-weight: font-weight(light);
}

.hero__subtitle {
  color: $color-text-light;
  font-size: font-size(2);

  @include media-query(small) {
    font-size: font-size(1);
  }
}
