.hero {
  @include transition(min-height);
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  justify-content: center;
  text-align: center;
}

.hero__container {
  margin-left: auto;
  margin-right: auto;
  max-width: $measure;
  padding-bottom: spacing(1);
  padding-top: spacing(1);
}

.hero__section {
  margin-bottom: spacing(2);

  &:last-child {
    margin-bottom: 0;
  }
}

.hero__title,
.hero__subtitle {
  &:last-child {
    margin-bottom: 0;
  }
}

.hero__title {
  font-weight: font-weight(light);
}

.hero__subtitle {
  color: $color-text-light;
  font-size: font-size(1);

  @include media-query(small) {
    font-size: font-size(0);
  }
}
