.modal {
  background: $color-semi-transparent-black;
  height: 100%;
  left: 0;
  padding: spacing(1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: layer(modals);

  @include media-query('medium-and-down') {
    padding: spacing(half);
  }
}

.modal__header {
  @extend .h3;
  align-items: flex-start;
  color: $color-text-dark;
  display: flex;
  justify-content: space-between;
  margin-bottom: spacing(1);
  width: 100%;
}

.modal__close {
  background: 0 0;
  border: 0;
  cursor: pointer;
  margin-left: spacing(half);
  padding: 0;
}

.modal__content {
  @include vertical-scroll;
  background: $color-white;
  border-radius: $border-radius;
  box-shadow: $box-shadow-dark;
  left: 50%;
  max-height: 100%;
  max-width: $measure-wide / 2;
  padding: spacing(1);
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
