.nav-link {
  color: $color-text-dark;
  font-weight: font-weight(normal);
  text-decoration: none;

  &:focus,
  &:hover {
    color: $color-black;
  }

  &[disabled] {
    color: $color-text-light;
  }
}

.nav-link--active {
  color: $color-black;
  font-weight: font-weight(bold);
}
