.navigation {
  background: $color-bg;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: spacing(1);
  width: 100%;
}

.navigation__logo {
  display: block;
  height: 3rem;
}

.navigation__link {
  @include all-caps;
  color: inherit;
  font-size: font-size(-2);
  margin-right: spacing(1);
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  &:after {
    @include transition(background);
    content: '';
    display: block;
    height: 0.1rem;
    left: 0;
    position: absolute;
    top: calc(100% + 0.25em);
    width: 100%;
  }

  &:hover {
    &:after {
      background: $color-gray-xdc;
    }
  }
}

.navigation__link--active {
  &:after {
    background: $color-gray-xdc;
  }
}

.navigation--fixed {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
