.navigation {
  background: $color-bg;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: spacing(1);
  width: 100%;
}

.navigation__logo {
  display: block;
  height: 3rem;
}

.navigation__link {
  @include all-caps;
  color: inherit;
  font-size: font-size(-2);
  margin-right: spacing(1);
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  &:after {
    @include transition(opacity, transform);
    background: $color-gray-xdc;
    content: '';
    display: block;
    height: 0.1rem;
    left: 0;
    opacity: 0;
    position: absolute;
    top: calc(100% + 0.25em);
    transform: translateY(-0.25em);
    width: 100%;
  }

  &:focus,
  &:hover {
    &:after {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.navigation__link--active {
  &:after {
    opacity: 1;
    transform: translateY(0);
  }
}

.navigation__menu-toggle {
  @include all-caps;
  @include transition(color);

  &:hover {
    color: $color-dark-green;
  }
}

.navigation--fixed {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
