$page-header-spacing-bottom: spacing(1);
$page-header-spacing-top: spacing(2);
$page-header-spacing-top-medium-and-down: spacing(1);

.page-header {
  margin-bottom: $page-header-spacing-bottom;
  margin-top: $page-header-spacing-top;

  @include media-query('medium-and-down') {
    margin-top: $page-header-spacing-top-medium-and-down;
  }
}

.page-header__title {
  margin-bottom: spacing(half);

  &:last-child {
    margin-bottom: 0;
  }
}

.page-header__subtitle {
  margin-bottom: 0;
}

.page-header--border {
  border-bottom: $border-width-thick solid $color-border-light;
  padding-bottom: spacing(half);
}
