$page-header-spacing: spacing(1);

.page-header {
  margin-bottom: $page-header-spacing;
  margin-top: $page-header-spacing;
}

.page-header__title {
  margin-bottom: spacing(half);

  &:last-child {
    margin-bottom: 0;
  }
}

.page-header__subtitle {
  margin-bottom: 0;
}

.page-header--border {
  border-bottom: $border-width-thick solid $color-border-light;
  padding-bottom: spacing(half);
}
