.promo__header {
  color: $color-text;
  font-size: font-size(3);
  font-weight: font-weight(bold);
  margin-bottom: spacing(0.5);
}

.promo__explanatory {
  color: $color-text-light;
  font-size: font-size(1);
}
