$slab-padding: spacing(1);

// SEE: slab.md
.slab {
  border-bottom: $border-width-thin solid $color-border-light;
  padding: $slab-padding;
}

.slab__title,
.slab__heading {
  display: block;
  // Match line-height of headings so they can line up nicely.
  line-height: line-height(base);
}

.slab__title {
  @extend .h2;
  color: $color-text;
  margin-bottom: 0;
}

.slab__heading {
  @extend .h4;
  margin-bottom: spacing(quarter);
}

.slab__section {
  padding: $slab-padding;
}

.slab--collapsed {
  padding-left: spacing(half);
  padding-right: spacing(half);

  .slab__section {
    flex-basis: 100%;
    margin-bottom: spacing(1);
    padding: 0 spacing(1);
    width: 100%;
  }
}

.slab--featured {
  background: $color-semi-transparent-blue;
}

.slab--disabled {
  color: $color-text-light;
  opacity: opacity(mid);

  .slab__heading,
  .slab__title {
    color: inherit;
  }

  a {
    color: inherit;

    &:hover {
      // Don't override hover styles
      color: initial;
    }
  }
}
