// Styles for slab sections when collapsed
@mixin slab-section-collapsed {
  flex-basis: 100%;
  padding: spacing(1) spacing(half);
  padding-top: spacing(0);
  width: 100%;

  &:first-child {
    padding-top: spacing(1);
  }
}

// SEE: slab.md
.slab {
  border-bottom: $border-width-thick solid $color-border-light;
  padding-left: spacing(1);
  padding-right: spacing(1);
}

.slab__title,
.slab__heading {
  display: block;
  // Match line-height of headings so they can line up nicely.
  line-height: line-height(base);
}

.slab__title {
  @extend .h2;
  color: $color-text;
  margin-bottom: 0;
}

.slab__heading {
  @extend .h4;
  margin-bottom: spacing(quarter);
}

.slab__section {
  padding: spacing(2);
}

.slab--collapsed {
  border-bottom: 0;
  padding-left: spacing(half);
  padding-right: spacing(half);

  .slab__section {
    @include slab-section-collapsed;
  }
}

.slab--featured {
  background: $color-semi-transparent-blue;
}

.slab--disabled {
  color: $color-text-extra-light;

  .slab__heading,
  .slab__title {
    color: inherit;
  }

  a {
    color: inherit;

    &:hover {
      // Don't override hover styles
      color: initial;
    }
  }
}

@include media-query('medium-and-down') {
  .slab {
    padding-left: spacing(half);
    padding-right: spacing(half);
  }

  .slab__section {
    @include slab-section-collapsed;
  }
}
