$tooltip-bg: $color-bg;
$tooltip-color: $color-text;
$tooltip-content-margin: spacing(quarter);
$tooltip-font-size: font-size(-1);
$tooltip-padding: spacing(half);

.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip__content {
  background: $tooltip-bg;
  border: $border-width-thin solid $color-border-dark;
  border-radius: $border-radius;
  box-shadow: $box-shadow-light;
  color: $tooltip-color;
  display: inline-block;
  // Reset font styling when placed within a button
  font-size: $tooltip-font-size;
  font-weight: font-weight(normal);
  left: 50%;
  letter-spacing: 0;
  margin-top: spacing(quarter);
  padding: $tooltip-padding;
  position: absolute;
  text-transform: none;
  top: 100%;
  transform: translateX(-50%);
  white-space: pre;
  z-index: layer(tooltips);

  // Add pseudo element above tooltip content to prevent tooltip from
  // disappearing when user hovers in between tooltip parent and tooltip content
  &:after {
    content: '';
    display: block;
    height: calc(#{$tooltip-content-margin} + 4px);
    left: 0;
    position: absolute;
    top: calc(-#{$tooltip-content-margin} - 3px);
    width: 100%;
  }
}

.tooltip--block {
  display: block;
}

.tooltip--right {
  .tooltip__content {
    left: auto;
    right: 0;
    transform: none;
  }
}

.tooltip--left {
  .tooltip__content {
    left: 0;
    right: auto;
    transform: none;
  }
}
