.app-container {
  display: block;
  padding-top: $app-container-header-height;
}

.app-container__header {
  background: $color-bg;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: layer(header)
}

// Make header position;relative for smaller screens
@include media-query('medium-and-down') {
  .app-container {
    padding-top: 0;
  }

  .app-container__header {
    position: relative;
  }
}
