// Use to create a full screen layout that only allows the main
// content to be scrolled.
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
  width: 100vw;
}

.app-container__header {
  // Don't allow the size of the header to change.
  flex: 0 0 auto;
}

.app-container__content {
  @include vertical-scroll;
  // Stretch children.
  align-items: stretch;
  display: flex;
  // Stretch the height of the main content to match the height
  // of the viewport.
  flex: 1 1 auto;

  & > * {
    // Since .app-container__content has its display mode to flex, the first child
    // will only take up the space that it needs. We want it to take up the full width of the screen.
    width: 100%;
  }
}
