// Creates a sidebar + content layout where the sidebar is always fixed in view,
// but the content is allowed to scroll independently. Works best when the parent container has a set height.

$aside-layout-padding: spacing(2);
$aside-layout-padding-medium-and-down: spacing(1);
$aside-layout-sidebar-width: percentage(2 / $grid-num-columns);
$aside-layout-sidebar-fixed-width: 26rem;

.aside-layout {
  display: flex;
  // Prevent the entire element from being scrolled.
  overflow-y: hidden;
}

.aside-layout__sidebar,
.aside-layout__content {
  padding: $aside-layout-padding;

  @include media-query('medium-and-down') {
    padding: $aside-layout-padding-medium-and-down;
  }
}

.aside-layout__sidebar {
  flex: 0 0 $aside-layout-sidebar-width;
  overflow-y: auto;
}

.aside-layout__sidebar--fixed {
  flex-basis: $aside-layout-sidebar-fixed-width;
  width: $aside-layout-sidebar-fixed-width;
}

.aside-layout__content {
  // Allow the content to the right of the sidebar to stretch to fill the remaining space.
  flex: 1 1 100%;
  // Allow the content to be scrollable.
  overflow-y: auto;
}
