$container-max-width: 1000px;
$container-wide-max-width: 1400px;

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-max-width;
  padding-left: $grid-gutter / 2;
  padding-right: $grid-gutter / 2;
}

.container--wide {
  max-width: $container-wide-max-width;
}

.container--full {
  max-width: none;
}
