@mixin column($column) {
  flex: 0 0 percentage($column / $grid-num-columns);
  padding-left: $grid-gutter / 2;
  padding-right: $grid-gutter / 2;
  width: percentage($column / $grid-num-columns);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: $grid-gutter / - 2;
  margin-right: $grid-gutter / - 2;
}

.row--bottom {
  align-items: flex-end;
}

.row--center {
  align-items: center;
}

@for $column from 1 through $grid-num-columns {
  .col-#{$column} {
    @include column($column);
  }

  .offset-#{$column} {
    margin-left: percentage($column / $grid-num-columns);
  }

  @each $query, $value in $media-queries {
    @include media-query($query) {
      .col-#{$column}-#{$query} {
        @include column($column);
      }

      .offset-#{$column}-#{$query} {
        margin-left: percentage($column / $grid-num-columns);
      }
    }
  }
}
