$longform-col-padding: spacing(3);

.longform {
  @include clearfix;
  max-width: $measure-wide;
}

.longform__col {
  @include media-query('large-and-up') {
    float: left;
    padding-right: $longform-col-padding / 2;
    width: 50%;

    & + & {
      padding-left: $longform-col-padding / 2;
      padding-right: 0;
    }
  }
}
