$section-spacing: spacing(3);
$section-subsection-spacing: spacing(2);

.section {
  margin-bottom: $section-spacing;

  &:first-child {
    margin-top: $section-spacing;
  }
}

.section--pad {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: $section-spacing;
  padding-top: $section-spacing;

  &:first-of-type {
    margin-top: 0;
  }
}

.section__subsection {
  margin-bottom: $section-subsection-spacing;

  &:first-child {
    margin-top: 0;
  }
}

.section__subsection--pad {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: $section-subsection-spacing;
  padding-top: $section-subsection-spacing;
}
