button,
input,
textarea {
  font: inherit;
  line-height: inherit;
}

button {
  background: none;
  border: 0;
}

select,
.block-input {
  @include transition(border);
  border: $border-width-thin solid $color-border-dark;

  &:hover {
    border-color: $color-green;
  }

  &:focus {
    border-color: $color-dark-green;
    outline: 0;
  }
}

label {
  cursor: pointer;
}

select {
  background: none;
  display: block;
  font: inherit;
  // Match approximate height of text inputs
  height: 2.5rem;
  line-height: inherit;
  width: 100%;
}

textarea {
  resize: vertical;
}

.block-input {
  border-radius: $border-radius;
  display: block;
  padding: 0.75rem;
  width: 100%;
}

.block-input--error {
  border-color: $color-red;
}

.block-input--disabled {
  &,
  &:focus,
  &:hover {
    background: $color-gray-xf3;
    border-color: $color-border-light;
  }
}

.block-input--large {
  min-height: $spacing-unit * 4;
}

.checkbox__input,
.checkbox__label,
.radio__input,
.radio__label {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

.checkbox__label,
.radio__label {
  margin-left: spacing(0.5);
}

.checkbox--nested {
  .checkbox__label {
    color: $color-text-light;
    font-size: font-size(-1);
  }
}

.form-field {
  display: block;
  margin-bottom: spacing(1);
}

.form-field__info {
  display: block;
  font-size: font-size(-1);
  margin-top: spacing(0.5);
}
