button,
input,
textarea {
  font: inherit;
  line-height: inherit;
}

select,
.block-input {
  @include transition(border);
  border: 1px solid $color-border-light;

  &:hover {
    border-color: $color-green;
  }

  &:focus {
    border-color: $color-dark-green;
    outline: 0;
  }
}

label {
  cursor: pointer;
}

select {
  background: none;
  display: block;
  font: inherit;
  // Match approximate height of text inputs
  height: 2.5rem;
  line-height: inherit;
  width: 100%;
}

textarea {
  resize: vertical;
}

.block-input {
  border-radius: $border-radius;
  display: block;
  padding: 0.5rem 0.75rem;
  width: 100%;
}

.form-field {
  display: block;
  margin-bottom: spacing(2);
}

.form-field__info {
  display: block;
  font-size: font-size(-1);
  margin-top: spacing(1);
}
