$block-input-border: $border-width-thin;
$block-input-padding: 0.75rem;

.form {
  max-width: 360px;
}

button,
input,
textarea {
  font: inherit;
  line-height: inherit;
}

button {
  background: none;
  border: 0;
}

input {
  &::placeholder {
    color: $color-gray-aaa;
  }
}

select,
.block-input {
  @include transition(border);
  border: $block-input-border solid $color-border-dark;
  // Reset input appearance for mobile Safari
  -moz-appearance: none;
  -webkit-appearance: none;

  &:hover {
    border-color: $color-green;
  }

  &:focus {
    border-color: $color-dark-green;
    outline: 0;
  }
}

select {
  @include dropdown-icon-bg;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: $color-bg;
  display: block;
  font: inherit;
  line-height: inherit;
  padding: spacing(half);
  width: 100%;

  &:focus,
  &:hover {
    @include dropdown-icon-bg-hover;
  }

  &:invalid,
  .select--empty {
    color: $color-gray-aaa;
  }
}

textarea {
  resize: vertical;
}

.block-input {
  border-radius: $border-radius;
  display: block;
  padding: 0.75rem;
  width: 100%;
}

.block-input--error {
  border-color: $color-red;
}

.block-input--disabled {
  &,
  &:focus,
  &:hover {
    background: $color-gray-xf3;
    border-color: $color-border-dark;
  }
}

.block-input--large {
  min-height: $spacing-unit * 4;
}

.checkbox,
.radio {
  @include clearfix;
  display: block;
}

.checkbox--inline {
  display: inline-block;
}

.radio__input,
.checkbox__input {
  float: left;

  // Align checkbox with text
  margin-top: 6px;
}

.radio__label,
.checkbox__label {
  float: left;
  margin-left: 0.75rem;

  // Prevent label from being rendered underneath checkbox.
  max-width: calc(90% - 0.75rem);
}

.checkbox__label,
.radio__label {
  margin-left: spacing(half);
}

.checkbox--nested {
  .checkbox__label {
    color: $color-text-light;
    font-size: font-size(-1);
  }
}

.form-field {
  display: block;
  margin-bottom: spacing(1);
}

.form-field__info {
  display: block;
  font-size: font-size(-1);
  margin-top: spacing(half);
}
