$block-input-border: $border-width-thin;
$block-input-padding: 0.75rem;

.form {
  max-width: 360px;
}

button,
input,
textarea {
  font: inherit;
  line-height: inherit;
}

button {
  background: none;
  border: 0;
}

input {
  &::placeholder {
    color: $color-gray-aaa;
  }
}

select,
.block-input {
  @include transition(border);
  border: $block-input-border solid $color-border-dark;
  // Reset input appearance for mobile Safari
  -moz-appearance: none;
  -webkit-appearance: none;

  &:hover {
    border-color: $color-green;
  }

  &:focus {
    border-color: $color-dark-green;
    outline: 0;
  }
}

select {
  @include dropdown-icon-bg;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: $color-bg;
  display: block;
  font: inherit;
  line-height: inherit;
  padding: spacing(half);
  width: 100%;

  &:focus,
  &:hover {
    @include dropdown-icon-bg-hover;
  }

  &:invalid,
  .select--empty {
    color: $color-gray-aaa;
  }
}

textarea {
  resize: vertical;
}

.block-input {
  border-radius: $border-radius;
  display: block;
  padding: 0.75rem;
  width: 100%;
}

.block-input--error {
  border-color: $color-red;
}

.block-input--disabled {
  &,
  &:focus,
  &:hover {
    background: $color-gray-xf3;
    border-color: $color-border-dark;
  }
}

.block-input--large {
  min-height: $spacing-unit * 4;
}

.checkbox,
.radio {
  @include clearfix;
  display: block;
}

.checkbox--inline {
  display: inline-block;
}

.radio__input,
.checkbox__input {
  float: left;
}

.radio__input {
  margin-top: 5px;
}

.checkbox__input {
  margin-top: 3px;
}

.radio__label,
.checkbox__label {
  $label-spacing: 0.1rem;
  float: left;
  margin-left: $label-spacing;

  // Prevent label from being rendered underneath checkbox.
  max-width: calc(90% - #{$label-spacing});
}

.checkbox__label,
.radio__label {
  margin-left: spacing(half);
}

.checkbox--nested {
  .checkbox__input {
    margin-top: 1px;
  }

  .checkbox__label {
    color: $color-text-light;
    font-size: font-size(-1);
  }
}

.checkbox {
  $checkbox-size: 16px;
  $checkbox-fill-size: 14px;

  input[type=checkbox] {
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 0;
    opacity: 0;
    width: 0;

    &:hover,
    &:focus {
      outline: 0;
    }
  }

  .checkbox__input {
    background: $color-white;
    border: 1px solid $color-gray-xdc;
    border-radius: 2px;
    display: inline-block;
    height: $checkbox-size;
    position: relative;
    width: $checkbox-size;

    &:after {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAsVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+3mHKcAAAAOnRSTlMAAQIXGBkaLS4vMDEyMzRBQkNERkdISUpLTFZ5e32JioyNj5CRk5WWl5manJ2/1tfY2ezt7u/29/j5agQRQwAAAJ5JREFUeNqtztcSwiAURVHUxN57r7EXYoma+/8fJpNzFWTypvsJ1hlmEH+pN4z3bkijOO+ERBTzpq1cNbC99aSoseVN9kni2xvsU7ibZq8/4DN2/4ylxj6HO5LId9Wheocv4KkTqaQjKuweXBxxlX32JbvIXMhspf+ZNZc1HOWuH98khVn+vWzhusIt8h3crBgo32vXlQI6wO3KHvyHXiQZJEVtmTVjAAAAAElFTkSuQmCC);
      background-position: center;
      background-repeat: none;
      background-size: 8px 8px;
      content: '';
      display: block;
      height: 8px;
      left: 50%;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
    }
  }

  input[type=checkbox]:checked + .checkbox__input {
    background: $color-blue;
    border-color: darken($color-blue, 10%);

    &:after {
      opacity: 1;
    }
  }

  input[type=checkbox]:focus + .checkbox__input {
    // Replicate native browser focus outline.
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
  }

  input[type=checkbox]:active:not(:disabled) {
    & + .checkbox__input {
      background: $color-gray-xf3;
    }

    &:checked + .checkbox__input {
      background: darken($color-blue, 10%);
    }
  }

  input[type=checkbox]:disabled + .checkbox__input {
    &,
    & + .checkbox__label {
      opacity: 0.5;
    }
  }
}

.form-field {
  display: block;
  margin-bottom: spacing(1);
}

.form-field__info {
  display: block;
  font-size: font-size(-1);
  margin-top: spacing(half);
}
