// Helper mixin for defining icon classes
@mixin icon($name, $unicode) {
  .icon-#{$name} {
    &:before {
      content: $unicode;
      // Allow other styles to be set
      @content;
    }

    &.icon--right {
      &:before {
        display: none;
      }

      &:after {
        content: $unicode;
        // Allow other styles to be set
        @content;
      }
    }
  }
}

.icon {
  &,
  &:after,
  &:before {
    color: inherit;
    display: inline-block;
    line-height: inherit;
    vertical-align: middle;
  }

  &:after,
  &:before {
    font-family: 'underdogio-icons';
    font-size: $icon-font-size;
  }
}

.icon__label,
.icon__label--right {
  margin-left: 0.5rem;
}

.icon__label {
  display: inline;
  line-height: 1;
  vertical-align: middle;
}

.icon__label--left {
  margin-left: auto;
  margin-right: 0.5rem;
}

.icon--small {
  &:after,
  &:before {
    font-size: font-size(-1);
  }
}

.icon--link {
  &:before,
  &:after {
    @include transition(color);
    color: initial;
    font-weight: font-weight(normal);
    text-decoration: none;
  }

  &:focus,
  &:hover {
    &:before,
    &:after {
      color: $color-text-extra-light;
    }
  }
}

// Define icons
@include icon('arrow-right', '\EA01')
@include icon('arrow', '\EA02')
@include icon('back', '\EA03')
@include icon('bootcamp', '\EA04')
@include icon('calendar', '\EA05')
@include icon('check', '\EA06')
@include icon('close', '\EA07')
@include icon('copy-link', '\EA08')
@include icon('download', '\EA09')
@include icon('dribbble', '\EA0A') {
  color: $color-dribbble-pink;
}
@include icon('dropdown', '\EA0B')
@include icon('filter', '\EA0C')
@include icon('github', '\EA0D')
@include icon('globe', '\EA0E') {
  color: $color-purple;
}
@include icon('graph', '\EA0F') {
  color: $color-green;
}
@include icon('growth', '\EA10') {
  color: $color-light-red;
}
@include icon('info', '\EA11') {
  color: $color-blue;
}
@include icon('linkedin', '\EA12') {
  color: $color-linkedin-blue;
}
@include icon('location', '\EA13')
@include icon('locked', '\EA14')
@include icon('menu', '\EA15')
@include icon('money', '\EA16') {
  color: $color-dark-green;
}
@include icon('next', '\EA17')
@include icon('not-allowed', '\EA18') {
  color: $color-red;
}
@include icon('other-link', '\EA19') {
  color: $color-purple;
}
@include icon('referral', '\EA1A') {
  color: $color-blue;
}
@include icon('resume', '\EA1B') {
  color: $color-light-red;
}
@include icon('settings', '\EA1C')
@include icon('support', '\EA1D')
@include icon('upload', '\EA1E')
@include icon('visa', '\EA1F') {
  color: $color-orange;
}
@include icon('work', '\EA20')
