// Helper mixin for defining icon classes
@mixin icon($name, $unicode) {
  .icon-#{$name} {
    &:before {
      content: $unicode;
      // Allow other styles to be set
      @content;
    }

    &.icon--right {
      &:before {
        display: none;
      }

      &:after {
        content: $unicode;
        // Allow other styles to be set
        @content;
      }
    }
  }
}

.icon {
  &,
  &:after,
  &:before {
    color: inherit;
    display: inline-block;
    line-height: inherit;
    vertical-align: middle;
  }

  &:after,
  &:before {
    font-family: 'underdogio-icons';
    font-size: $icon-font-size;
  }
}

.icon__label,
.icon__label--right {
  margin-left: 0.5rem;
}

.icon__label {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

.icon__label--left {
  margin-left: auto;
  margin-right: 0.5rem;
}

.icon--small {
  &:after,
  &:before {
    font-size: font-size(-1);
  }
}

// Define icons
@include icon('arrow-right', '\EA01')
@include icon('arrow', '\EA02')
@include icon('back', '\EA03')
@include icon('check', '\EA04')
@include icon('close', '\EA05')
@include icon('copy-link', '\EA06')
@include icon('download', '\EA07')
@include icon('dribbble', '\EA08') {
  color: $color-dribbble-pink;
}
@include icon('dropdown', '\EA09')
@include icon('filter', '\EA0A')
@include icon('github', '\EA0B')
@include icon('info', '\EA0C') {
  color: $color-blue;
}
@include icon('linkedin', '\EA0D') {
  color: $color-linkedin-blue;
}
@include icon('location', '\EA0E')
@include icon('locked', '\EA0F')
@include icon('menu', '\EA10')
@include icon('money', '\EA11') {
  color: $color-dark-green;
}
@include icon('next', '\EA12')
@include icon('not-allowed', '\EA13') {
  color: $color-red;
}
@include icon('other-link', '\EA14') {
  color: $color-purple;
}
@include icon('referral', '\EA15') {
  color: $color-blue;
}
@include icon('resume', '\EA16') {
  color: $color-light-red;
}
@include icon('settings', '\EA17')
@include icon('support', '\EA18')
@include icon('upload', '\EA19')
@include icon('visa', '\EA1A') {
  color: $color-orange;
}
