a,
.text-link {
  @include transition(color);
  color: $color-dark-green;
  text-decoration: none;

  &:hover,
  &:focus {
    color: inherit;
  }

  &[disabled] {
    color: $color-text-light;
  }
}
