h1,
.h1,
h2,
.h2
h3,
.h3,
h4,
.h4
p {
  margin-bottom: spacing(2);
  margin-top: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  color: $color-headings;
  font-weight: font-weight(normal);
  line-height: line-height(headings);
}

h1,
.h1 {
  font-size: font-size(3);
}

h2,
.h2 {
  font-size: font-size(1);
}

h3,
.h3 {
  font-size: font-size(0);
}

h4,
.h4 {
  @include all-caps;
  font-size: font-size(-1);
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}
